    <Router AppAssembly="typeof(DemoCore.App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"></RouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1>Error 404</h1>
                <p>There doesn't appear to be anything here...</p>
            </LayoutView>
        </NotFound>
    </Router>